.main-layout-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 6% 92%;
  background-color: #fffff4;
  padding: 2% 0;
}

.header-container-main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.header-main-title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8rem;
}

aside {
  color: black;
  display: grid;
  grid-template-rows: 20% 60% 20%;
}

.aside-socials-container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  border-top: 1px solid black;
}
main {
  background-image: linear-gradient(
    to right bottom,
    #10005f,
    #110064,
    #120069,
    #13006f,
    #140074,
    #15007c,
    #170085,
    #18008d,
    #1a009b,
    #1d00a9,
    #1f00b7,
    #2100c6
  );
  box-shadow: 0px 0px 15px -6px #c8c8c8;
}

.nav-container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
